*{
/*	border: 1px solid #fff;*/
	margin:0;
	padding: 0;
	font: 22px/26px arial,verdana;
}
html, body{
	width: 100%;
	height:100%;
	overflow: hidden;
}

/*===
basic positioning 
===*/
#menu_wrapper{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	background: #0a0a0a;
	overflow: hidden;
	color: #fff;

}

#menu_wrapper header,
#menu_wrapper footer,
#menu_wrapper section{
	width: 90vw;
}

#menu_wrapper header,
#menu_wrapper footer{
	height: 15vh;
	
}

#menu_wrapper section, 
#menu_wrapper .slider-container,
#menu_wrapper .background{
	height: 70vh;	
}

/*== header ===*/
#menu_wrapper header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menu_wrapper .logo{
	font-size: 1.5em;
}

#menu_wrapper .logo span{
	font-size: inherit;
	color: #04ffe5;
	
}

#menu_wrapper .topics nav{
	display: flex;
}

#menu_wrapper .topics li{
	list-style: none;
	margin: 0 20px;
	font-variant : small-caps;
	font-size: .7em;
}

#menu_wrapper .line{
	border: 2px solid #04ffe5;
	position: absolute;
	width: 70px;
}

#menu_wrapper .close{
/*	visibility: hidden; */
}

/*=== main section ===*/
#menu_wrapper .main_menu{
	position: relative;
}

#menu_wrapper .background{
	position: absolute;
	
	/*background: #001;*/
	
	width: 100%;
	
}

#menu_wrapper .bg_text{
	position: relative;
	top: 45%;
	font-size: 10em;
	letter-spacing: .2em;
	opacity: .1;
}

#menu_wrapper .slider-container{
	width: 100vw; 
	position: absolute;
	left: 40vw;
	display: flex;	
	transition: all .4s ease-in-out;
}

#menu_wrapper .slider{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}

#menu_wrapper .item{
	width: 250px;
	height: 50vh;
	margin: 0 3px;
	background: url('./football.jpg') 0 0 no-repeat;
	background-size: cover;
	filter: saturate(.1);
}

#menu_wrapper .selected{
	transform: scale(1.1);
	filter: none;
	z-index: 3;
}


/*== footer ===*/
#menu_wrapper footer{
	display: flex;
	flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
}

#menu_wrapper .progress_line{
	margin: 10px 0;
	border: 0;
}

#menu_wrapper .line-background,
#menu_wrapper .line-fill{
	position: absolute;
	border-radius: 1px;
}

#menu_wrapper .line-background{
	width: 95vw;
	border: 2px solid #fff;
	opacity: 0.2;
}

#menu_wrapper .line-fill{
	width: 20vw;
	border: 2px solid #04ffe5;
	transition: all .4s ease-in-out;
	
}

/*=== 
responsive 
===*/
@media only screen and (max-width: 758px){
	#menu_wrapper .logo{
		display: none;
	}
	#menu_wrapper .slider-container{
		left: 20vw;
	}

	#menu_wrapper .item{
		width: 200px;
	}

	#menu_wrapper .background{
		display: none;
	}

}

