*{
/*	border: 1px solid #fff;*/
	margin:0;
	padding: 0;
	font: 22px/26px arial,verdana;
}
html, body{
	width: 100%;
	height:100%;
	overflow: hidden;
}

#menu_wrapper *{
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform:translate3d(0,0,0);
}

/*===
basic positioning 
===*/
#menu_wrapper{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	background: #0a0a0a;
	overflow: hidden;
	color: #fff;

}

#menu_wrapper header,
#menu_wrapper footer,
#menu_wrapper section{
	width: 90vw;
}

#menu_wrapper header,
#menu_wrapper footer{
	height: 15vh;
	
}

#menu_wrapper section, 
#menu_wrapper .slider-container,
#menu_wrapper .background{
	height: 70vh;	
}

/*== header ===*/
#menu_wrapper header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menu_wrapper .logo{
	font-size: 1.5em;
}

#menu_wrapper .logo span{
	font-size: inherit;
	color: #04ffe5;
	
}

#menu_wrapper .topics nav{
	display: flex;

}

#menu_wrapper .topics li{
	list-style: none;
	margin: 0 10px;
	min-width: 70px;
	font-variant : small-caps;
	font-size: .7em;
	text-align: center;
	cursor: pointer;
	
}

#menu_wrapper .nav_line{
	border: 2px solid #04ffe5;
	position: absolute;
	min-width: 70px;
	top: 0;
}

#menu_wrapper .close{
/*	visibility: hidden; */
	cursor: pointer;
}

/*=== main section ===*/
#menu_wrapper .main_menu{
	position: relative;
}

#menu_wrapper .background{
	position: absolute;
	
	/*background: #001;*/
	
	width: 100%;
	
}

#menu_wrapper .bg_text{
	position: relative;
	top: 45%;
	font-size: 10em;
	letter-spacing: .2em;
	opacity: .1;
}

#menu_wrapper .slider-container{
	width: 100vw; 
	position: absolute;
	left: 50vw;
	display: flex;
	

	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
	    -ms-transition: all .4s ease-in-out;
	     -o-transition: all .4s ease-in-out;
	        transition: all .4s ease-in-out;
}

#menu_wrapper .slider{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	position: relative;
	left: 0;
	
}

#menu_wrapper .item{
	width: 250px;
	height: 50vh;
	margin: 0 1px;
	
	background-size: cover;
	filter: saturate(.1);
	transition: all .4s linear;
	cursor: pointer;
}

#menu_wrapper .i1
{
	background: url('img/Atheletics.png') 0 0 no-repeat;
}

#menu_wrapper .i2
{
	background: url('img/Badminton.png') 0 0 no-repeat;
}

#menu_wrapper .i3
{
	background: url('img/Basketball.png') 0 0 no-repeat;
}

#menu_wrapper .i4
{
	background: url('img/Football.png') 0 0 no-repeat;
}

#menu_wrapper .i5
{
	background: url('img/Hockey.png') 0 0 no-repeat;
}

#menu_wrapper .i6
{
	background: url('img/PowerLifting.png') 0 0 no-repeat;
}

#menu_wrapper .i7
{
	background: url('img/Squash.png') 0 0 no-repeat;
}

#menu_wrapper .i8
{
	background: url('img/Swimming.png') 0 0 no-repeat;
}

#menu_wrapper .i9
{
	background: url('img/Table-Tennis.png') 0 0 no-repeat;
}

#menu_wrapper .i10
{
	background: url('img/Taekwondo.png') 0 0 no-repeat;
}

#menu_wrapper .i11
{
	background: url('img/Tennis.png') 0 0 no-repeat;
}

#menu_wrapper .i12
{
	background: url('img/Sumit.png') 0 0 no-repeat;
}

#menu_wrapper .i13
{
	background: url('img/Rahul.png') 0 0 no-repeat;
}

#menu_wrapper .info{
	flex-grow: 2;
	text-align: center;
	min-width: 500px;
}

#menu_wrapper .selected{
	transform: scale(1.1);
	filter: none;
	z-index: 3;
}


/*== footer ===*/
#menu_wrapper footer{
	display: flex;
	flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
}

#menu_wrapper .selected_text{
	line-height: 18px;
	font-size: 16px;
}

#menu_wrapper .progress_line{
	margin: 10px 0;
	border: 0;
	
}

#menu_wrapper .line-background,
#menu_wrapper .line-fill{
	position: absolute;
	border-radius: 1px;
}

#menu_wrapper .line-background{
	width: 95vw;
	border: 1px solid #fff;
	opacity: 0.2;
}

#menu_wrapper .line-fill{
	width: 0;
	border: 1px solid #04ffe5;

	-webkit-transition: all .7s ease-in-out;
	   -moz-transition: all .7s ease-in-out;
	    -ms-transition: all .7s ease-in-out;
	     -o-transition: all .7s ease-in-out;
	        transition: all .7s ease-in-out;
}

/*=== 
responsive 
===*/
@media only screen and (max-width: 758px){
	#menu_wrapper .logo{
		display: none;
	}
	

	#menu_wrapper .item{
		width: 200px;
	}

	#menu_wrapper .info{
		min-width: 300px;
	}

	#menu_wrapper .bg_text{
		margin-left: -200px;
	}

}